<ion-card>
  <img
    src="https://picsum.photos/200/100?random=1"
    style="width: 100%; max-height: 200px"
  />
  <ion-card-header>
    <ion-card-subtitle>{{ user.name }}</ion-card-subtitle>
    <ion-card-title>{{ user.email }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison
    was named the capital of the Wisconsin Territory in 1836.
  </ion-card-content>
</ion-card>
