<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeSm="12"
        sizeMd="6"
        offsetMd="3"
        sizeXl="6"
        offsetXl="3"
      >
        <form [formGroup]="ionicForm" (ngSubmit)="saveUser()" novalidate>
          <ion-item lines="full">
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.name.errors?.required"
          >
            Name is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.name.errors?.minlength"
          >
            Name should be min 2 chars long.
          </span>

          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.email.errors?.required"
          >
            Email is required.
          </span>
          <span
            class="error ion-padding"
            *ngIf="isSubmitted && errorControl.email.errors?.pattern"
          >
            Please provide valid email id.
          </span>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="danger" expand="block"
                >Submit</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
