<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeSm="6"
        sizeMd="6"
        sizeXl="3"
        *ngFor="let user of userList"
      >
        <app-card [user]="user"></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
